vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|09 Dec 2006 03:20:18 -0000
vti_extenderversion:SR|6.0.2.5516
vti_author:SR|THEZDIN\\Jacob P. Litwicki
vti_modifiedby:SR|THEZDIN\\Jacob P. Litwicki
vti_timecreated:TR|27 Nov 2006 23:43:22 -0000
vti_backlinkinfo:VX|index.php testing/test.php rsvp_view.php herrington.php template.php wedding_party.php local.php registry.php rsvp.php
vti_nexttolasttimemodified:TR|09 Dec 2006 03:15:39 -0000
vti_cacheddtm:TX|09 Dec 2006 03:20:18 -0000
vti_filesize:IR|909
vti_cachedlinkinfo:VX|S|../images/bg.gif
vti_cachedsvcrellinks:VX|FSUS|images/bg.gif
